{% extends 'Header.html' %}
{%block index %}
<head>
  <style>
    h3{
      color:Red;
    }
    .buttonss {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  </style>
</head>
<div id="site_content">
  <div id="sidebar_container">
    <div class="sidebar">
      <div class="sidebar_top"></div>
      <div class="sidebar_item">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>February 1st, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
      </div>
      <div class="sidebar_base"></div>
    </div>
    <div class="sidebar">
      <div class="sidebar_top"></div>
      <div class="sidebar_item">
        <h3>Check Health</h3>
        <ul>
          <li><a class="buttonss" href="/checkdiabetes">Check your Diabetes</a></li>
          <li><a  class="buttonss" href="/checkheart">Check your Heart</a></li>
          <li><a class="buttonss" href="/previoushealth">Check previous Record of Diabetes</a></li>
          <li><a class="buttonss" href="/previousheart">Check previous heart </a></li>
        </ul>
      </div>
      <div class="sidebar_base"></div>
    </div>
    <div class="sidebar">
      <div class="sidebar_top"></div>
      <div class="sidebar_item">
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/Image/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div class="sidebar_base"></div>
    </div>
  </div>

    <div id="content_header"></div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>9 Simple Medical Tests to Check Your Health Right Now</h1>
<p>In order to take good care of your health, you should have a full medical examination at least once a year. However, you should also watch out for your health between doctor visits. There are special tests that you can do in order to diagnose a serious illness, even before the first symptoms appear.</p>
<p>Bright Side has put together a series of simple tests you can do to estimate the risk of developing some diseases and figure out whether you need to see a specialist.</p>

<h2>1. Heart and lung disease</h2>
<p>Make your fingers in the shape of an upside down letter J and put your nails against one another. Do you see a tiny diamond between them? Great, this means that your heart and vessels are perfectly healthy.</p>
<p>If there is no space between your fingernails, it may be a sign of nail clubbing. The fact that fingers become thicker means that the blood doesn’t have enough oxygen. Oxygen deficiency can be caused by multiple reasons. For example, cardiovascular diseases, lung problems, and gastrointestinal issues.</p> 
<h2>2. Stroke and dementia</h2>
<p>You need a timer for this test. Lift your leg up so that the hip is parallel to the floor and start the timer. If you can stand like this for 20 or more minutes, it means you have minimal risk of having a stroke or developing dementia. And vice versa: if you have trouble maintaining balance on one leg, it might indicate problems with vessels of the brain.</p>
<h2>3. Anemia</h2>
<p>When standing in front of a mirror, pull your lower eyelid down. If the color is pink, everything is okay. However, if you have anemia, the color may be a pale pink or even yellowish. Anemia is caused by a lack of hemoglobin and indicates that the muscles and tissues in the body aren’t receiving enough oxygen and can’t work at 100%. If you notice that you are pale, you get tired quickly, or breathe heavily, you should get a doctor to examine you.</p> 
<h2>4. Hormonal imbalance and lack of microelements</h2>
<p>Losing hair is a natural process. According to doctors, we lose from 50 to 100 hairs every day. There is nothing to worry about. But in order to understand when it’s time to worry, you can do a simple test.</p> 
<p>Your hair should be dry and clean. Take a small lock of hair and pull. Don’t pull too hard. If you have only about 2-3 hairs in your hand, it’s perfectly normal. If you have more, you should visit a specialist.</p>
<p>There can be a lot of reasons why people lose hair: stress, poor hygiene, or serious health issues. Hair often becomes thin due to a hormonal imbalance or nutrient deficiency. These symptoms should not be ignored.</p>
<h2>5. Carpal tunnel syndrome</h2>
<p>This test can detect a professional problem of office workers, artists, and bikers — carpal tunnel syndrome.</p> 
<p>Lift your hands up so that your forearms are parallel to your face. Try to reach the base of the palm with the tips of your fingers. If you can do this for 1-2 minutes, you are fine. But if you have tingling, numbness, or pain in your wrists or fingers, this can be a sign of tunnel syndrome.</p> 
<p>Carpal tunnel syndrome appears when the neighboring tissues press on the median nerve. The pain and numbness will only get worse without the proper treatment.</p> 
<h2>6. Diabetes</h2>
<p>In order to do this test, you need help. Ask a partner to take a pencil with an eraser. Get them to touch your foot and toes with the sharp end of the pencil and with the eraser, in turns. Can you tell which side of the pencil touched you without looking?</p>
<p>If you don’t fully feel the touch, it means that the nerve endings on your feet don’t function properly. Low sensitivity can be an indicator of diabetes.</p> 
<h2>7. Arterial problems</h2>
<p>While lying on the floor, put your feet up at a 45° angle and keep them up for several minutes. Now, evaluate the color of your feet. Really pale (almost white) feet and toes indicate very bad blood circulation. The change in color can be seen in both feet or in just one.</p> 
<p>Peripheral arteries deliver the blood to the limbs. And when the arteries get clogged, the muscles don’t get enough oxygen and unpleasant symptoms like numbness, pain, and others may appear. This condition is called peripheral artery disease (PAD) and it’s hard to notice the symptoms in the beginning. If left untreated, PAD can lead to heart attack and stroke.</p>
<h2>8. Hearing</h2>
<p>In order to do this test, you need to be in a quiet room. Put your hand close to your ear and rub your fingers together. Do you hear the sound? Then, put your hand as far from your ear as you can and rub your fingers together again. Can you still hear the sound? Congratulations, your hearing is alright. Don’t forget to do the same with the other ear.</p>
<h2>9. Predisposition to developing cardiovascular diseases</h2>
<p>In order to do this test, you will have to leave your house. Climb a ladder (8-12 steps) while singing a song. Or you can talk on the phone or read something. The most important thing is to talk. If you feel your heart pounding and you can’t breathe well, it means that your cardiovascular system and lungs can’t handle the physical activity.</p>
<p>We want to remind you that self-made tests can’t replace the professional opinion of a doctor. And if you have any symptoms that are worrying you, you should see a doctor immediately.</p>
<p></p>
</div>
        </form>
      </div>
    </div>
    {% include "footer.html" %}  

  </div>
</body>
</html>
{% endblock %}