{% extends 'Header.html' %}
{%block index %}
{% include "sidebar.html" %} 

<div id="content_header"></div>
      <div id="content">
        
        <!-- insert the page content here -->
        
        <p>DETAILS</p>       
          <form class="form_settings" action="contactus" method="POST">
            {% csrf_token %}
            <div>
            <p><span>Name*</span><input class="contact" type="text" name="Name" required  /></p>
            <p><span>Email Address*</span><input class="contact" type="text" name="Email" required /></p>
            <p><span>Message*</span><textarea class="contact textarea" rows="8" cols="50" name="Message" required></textarea></p>
            <div class="clearfix">
        
              <button type="submit" class="signupbtn">Submit</button>
             </div>
             <div>
              {% for message in messages %}
              <h3>{{message}}</h3>
              {% endfor %}
            </div>
          </div>       
        <p><br /><br />NOTE: A contact form such as this would require some way of emailing the input to an email address.</p>
      </div>
    </div>
    {% include "footer.html" %}  

  </div>
</body>
</html>
{% endblock %}