{% extends 'Header.html' %}
{%block index %}
<head>
  <style>
  p{text-align: center;}
  h1{text-align: center;}

  .banner {
   
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px;
    height:200px;
    background-size: cover;
    background: url('https://media.giphy.com/media/3o7TKnoepJ80Pyfru8/giphy.gif');
    color:#fff;
    text-align: center;
    padding: 40px 15px;
   }
   .big-text{
     font-size: 130px;
     font-weight: 800;
   }
  </style>
</head>
  <div class="banner"> </div>
    <!-- insert the page content here -->
    <h1 style="color:red;">YOU ARE UNDER DIABETES</h1>
    <p>Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. With diabetes, your body either doesn’t make enough insulin or can’t effectively use the insulin it does make.

    </p>
    
  </div>
</div>
{% include "footer.html" %}  

</div>
{% endblock %}