{% extends 'Header.html' %}
{%block index %}
<style>
    p {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 4em;
  margin-right: 20em;
  font-weight: bold;
  font-weight: 900;
  
}
h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight: bold;
  font-weight: 900;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1.6em;
  margin-right: 1.5em;
}
</style>
    <body>
        <!-- insert the page content here -->
        <h1>Healthy Foods to Eat</h1>
<p>There are many delicious foods and beverages to choose from when following a lacto-vegetarian diet for weight loss.</p>
<h2>What to Eat</h2>
<p>Try incorporating the following ingredients into your daily meal plan:</p>
<p>Vegetables: Tomatoes, spinach, eggplant, mustard greens, okra, onions, bitter melon, cauliflower, mushrooms, cabbage and more</p>
<p>Fruits: Including mango, papaya, pomegranate, guava, oranges, tamarind, lychee, apples, melon, pears, plums, bananas</p>
<p>Nuts and seeds: Cashews, almonds, peanuts, pistachios, pumpkin seeds, sesame seeds, watermelon seeds and more</p>
<p>Legumes: Mung beans, black-eyed peas, kidney beans, lentils, pulses and chickpeas</p>
<p>Roots and tubers: Potatoes, carrots, sweet potatoes, turnips, yams</p>
<p>Whole grains: Brown rice, basmati rice, millet, buckwheat, quinoa, barley, corn, whole-grain bread, amaranth, sorghum</p>
<p>Dairy: Cheese, yogurt, milk, kefir, ghee</p>
<p>Herbs and spices: Garlic, ginger, cardamom, cumin, coriander, garam masala, paprika, turmeric, black pepper, fenugreek, basil and more</p>
<p>Healthy fats: Coconut milk, full-fat dairy, avocado, coconut oil, mustard oil, olive oil, peanut oil, sesame oil, ghee</p>
<p>Protein sources: Tofu, legumes, dairy, nuts and seeds</p>
<h2>What to Drink</h2>
<p>An easy way to cut back on excess calories and sugar is to avoid sugar-sweetened beverages and juices. These drinks can be high in both calories and sugar, which can negatively affect weight loss.</p>
<p>Healthy beverage options include:</p>
<p>Water</p>
<p>Sparkling water</p>
<p>Unsweetened tea including Darjeeling, Assam and Nilgiri teas</p>
<h1>Unhealthy Foods to Avoid</h1>
<p>Choosing foods and beverages that are highly processed, loaded with sugar or high in calories can sabotage your weight loss efforts.</p>
<p>Not only are items like candy, fried foods and soda not good for weight loss — they aren't good for overall health.</p>
<p>Eating too much processed food and products laden with sweeteners can increase the risk of chronic diseases.</p>
<p>For example, drinking sugar-sweetened beverages like soda, fruit punch and juices every day has been associated with increased risks of diabetes, obesity and heart disease</p>
<p>Plus, consuming unhealthy foods can make it harder for you to lose fat and maintain a healthy weight.</p>
<p>For optimal health, minimize the following foods or avoid them altogether:</p>
<p>Sweetened beverages: Soda, fruit juice, sweetened tea, sweet lassi, sports drinks</p>
<p>High-sugar foods: Candy, ice cream, cookies, rice pudding, pastries, cakes, sweetened yogurt, high-sugar cereals, digestive biscuits</p>
<p>Sweeteners: Jaggery, sugar, honey, condensed milk</p>
<p>Sweetened sauces: Salad dressings with added sugar, ketchup, barbecue sauce, sweetened curries</p>
<p>High-fat foods: Fast food like McDonald’s, french fries, chips, fried foods, bhujia</p>
<p>Refined grains: Products including white bread, white pasta, biscuits</p>
<p>Trans fats: Margarine, vanaspati, fast food, highly processed foods</p>
<p>Refined oils: Canola oil, soybean oil, corn oil, grapeseed oil</p>
<p>Although it’s perfectly fine to enjoy an occasional treat, limiting the foods and beverages listed above is best for overall health.</p>



</body>
    {% include "footer.html" %}  

  

{% endblock %}