{% extends 'Header.html' %}
{%block index %}
<style>
    p {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 4em;
  margin-right: 20em;
  font-weight: bold;
  font-weight: 900;
  
  
}
ul {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 4em;
  margin-right: 20em;
  font-weight: bold;
  font-weight: 900;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight: bold;
  font-weight: 900;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1.6em;
  margin-right: 1.5em;
  
  
}
</style>
<body>
    <h1>Factors for good health</h1>
    <p>Good health depends on a wide range of factors.</p>
    <h2>Genetic factors</h2>
    <p>A person is born with a variety of genes. In some people, an unusual genetic pattern or change can lead to a less-than-optimum level of health. People may inherit genes from their parents that increase their risk for certain health conditions.</p>
<h2>Environmental factors</h2>
<p>Environmental factors play a role in health. Sometimes, the environment alone is enough to impact health. Other times, an environmental trigger can cause illness in a person who has an increased genetic risk of a particular disease.</p>
<p>Access to healthcare plays a role, but the WHO suggest that the following factors may have a more significant impact on health than this:</p>
<ul>
    <li>where a person lives</li>
    <li>the state of the surrounding environment</li>
    <li>genetics</li>
    <li>their income</li>
    <li>their level of education</li>
    
</ul>
<p>According to some studies, the higher a person’s socioeconomic status (SES), the more likely they are to enjoy good health, have a good education, get a well-paid job, and afford good healthcare in times of illness or injury.</p>
<p>They also maintain that people with low socioeconomic status are more likely to experience stress due to daily living, such as financial difficulties, marital disruption, and unemployment.</p>
<p>Social factors may also impact on the risk of poor health for people with lower SES, such as marginalization and discrimination.</p>
<p>A low SES often means reduced access to healthcare. A 2018 study in Frontiers in Pharmacology indicated that people in developed countries with universal healthcare services have longer life expectancies than those in developed countries without universal healthcare.</p>
<p>Cultural issues can affect health. The traditions and customs of a society and a family’s response to them can have a good or bad impact on health.</p>
<p>According to the Seven Countries Study, researchers studied people in select European countries and found that those who ate a healthful diet had a lower 20-year death rate.</p>
<p>The study indicated that people who ate a healthful diet are more likely to consume high levels of fruits, vegetables, and olives than people who regularly consume fast food.</p>
<p>The study also found that people who followed the Mediterranean diet had a lower 10-year all-cause mortality rate. According to the International Journal of Environmental Research and Public Health, this diet can help protect a person’s heart and reduce the risk of several diseases, including type 2 diabetes, cancer, and diseases that cause the brain and nerves to break down.</p>
<p>How a person manages stress will also affect their health. According to the National Institute of Mental Health, people who smoke tobacco, drink alcohol, or take illicit drugs to manage stressful situations are more likely to develop health problems than those who manage stress through a healthful diet, relaxation techniques, and exercise.</p>


</body>
{% include "footer.html" %}  

  


{% endblock %}