<!DOCTYPE HTML>
<html>

<head>
  <title>HealthCare System</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/CSS/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">HealthCare<span class="logo_colour">System</span></a></h1>
          <h2>AI Enable Healthcare System</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/home">Home</a></li>
          <li class="selected"><a href="/health">Check Your Health</a></li>
          <li class="selected"><a href="/contactus">Contact Us</a></li>


          {% if user.is_authenticated %}
          <li>Hello,{{user.first_name}}</li>
          <li class="selected"><a href="/logout">Logout</a></li>
          {% else %}
          <li class="selected"><a href="/registration">Registeration</a></li>
          <li class="selected"><a href="/login">Login</a></li>
          {%endif%}

        </ul>
      </div>
    </div>
    {%block index %}

    {% endblock %}
   
</body>
</html>
