<head>
  <style>
    .buttonss {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

    h3{
      color:Red;
    }
  </style>
</head>
<div id="site_content">
    <div id="sidebar_container">
      <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
          <!-- insert your sidebar items here -->
          <h3>Latest News</h3>
          <h4>New Website Launched</h4>
          <h5>February 1st, 2014</h5>
          <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        </div>
        <div class="sidebar_base"></div>
      </div>
      <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
          <h3>Useful Links</h3>
          <ul>
            <li><a  class="buttonss" href="/diet">Check Fit Diet</a></li>
            <li><a  class="buttonss" href="/factorofgoodhealth">Factor Of Good Health</a></li>
            <li><a  class="buttonss" href="#">link 3</a></li>
            <li><a  class="buttonss" href="#">link 4</a></li>
          </ul>
        </div>
        <div class="sidebar_base"></div>
      </div>
      <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
          <h3>Search</h3>
          <form method="post" action="#" id="search_form">
            <p>
              <input class="search" type="text" name="search_field" value="Enter keywords....." />
              <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/Image/search.png" alt="Search" title="Search" />
            </p>
          </form>
        </div>
        <div class="sidebar_base"></div>
      </div>
    </div>
  